html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
details,
summary,
main {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none !important;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

nav > ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
details,
summary,
main,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

nav ol,
nav ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

.block-group,
.block,
.block-group:after,
.block:after,
.block-group:before,
.block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
  zoom: 1;
}

.block-group:before,
.block-group:after {
  content: "";
  display: table;
}

.block-group:after {
  clear: both;
}

.block-group > .block-group {
  clear: none;
  float: left;
  margin: 0 !important;
}

.block {
  float: left;
  width: 100%;
}

@font-face {
  font-family: "Merri";
  src: local("☺︎"), url("/frontend/assets/fnt/merri/regular.woff") format("woff"), url("/frontend/assets/fnt/merri/regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Merri";
  src: local("☺︎"), url("/frontend/assets/fnt/merri/italic.woff") format("woff"), url("/frontend/assets/fnt/merri/italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("☺︎"), url("/frontend/assets/fnt/openSans/regular.woff") format("woff"), url("/frontend/assets/fnt/openSans/regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("☺︎"), url("/frontend/assets/fnt/openSans/italic.woff") format("woff"), url("/frontend/assets/fnt/openSans/italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("☺︎"), url("/frontend/assets/fnt/openSans/semibold.woff") format("woff"), url("/frontend/assets/fnt/openSans/semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

* {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background: #201a1a url("/frontend/assets/image/bg.jpg") fixed no-repeat center/cover;
}

a {
  color: #486bbb;
}

a:hover {
  text-decoration: none;
}

body,
html {
  height: 100%;
  min-width: 320px;
  overflow: hidden;
}

#js-async-box {
  min-height: 100%;
  background: #201a1a;
}

.container {
  width: 1440px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #c1b795;
  padding-top: 91px;
  font: 36px/1.3 "Merri", serif;
}

.title--center {
  text-align: center;
}

.section {
  min-height: 100%;
}

#one {
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  -ms-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

#one.active {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#two {
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
  -moz-transition: opacity 0.7s, -moz-transform 0.7s;
  -o-transition: opacity 0.7s, -o-transform 0.7s;
  -ms-transition: opacity 0.7s, -ms-transform 0.7s;
  transition: opacity 0.7s, transform 0.7s;
  position: relative;
}

#two.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

#two.active .list__item {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

#two.active .list__item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#two.active .list__item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#two.active .list__item:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

#two.active .list__item:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

#two.active .list__item:nth-child(5) {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

#two.active .list__item:nth-child(6) {
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

#two.active .list__item:nth-child(7) {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

#two.active .list__item:nth-child(8) {
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -ms-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

#two.hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  -ms-transition: opacity 0.3s, -ms-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

#three {
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  -ms-transition: opacity 0.3s, -ms-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

#three.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-wrapper {
  overflow: hidden;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  -moz-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  visibility: visible;
  overflow: scroll;
  max-width: 100%;
  max-height: 100%;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
  -moz-box-sizing: inherit !important;
  box-sizing: inherit !important;
  height: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #484242;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.simplebar-scrollbar {
  position: absolute;
  right: -2px;
  width: 10px;
  min-height: 10px;
  background: #c1b795;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -ms-transition: width 0.2s;
  transition: width 0.2s;
  will-change: width;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 6px;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -ms-transition: width 0.2s;
  transition: width 0.2s;
  will-change: width;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 4px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #c1b795;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #c1b795, 0 0 5px #c1b795;
  box-shadow: 0 0 10px #c1b795, 0 0 5px #c1b795;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#nprogress .spinner-icon {
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #c1b795;
  border-left-color: #c1b795;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation: nprogress-spinner 400ms linear infinite;
  -o-animation: nprogress-spinner 400ms linear infinite;
  -ms-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-moz-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.datepicker-container {
  background-color: #fff;
  direction: ltr;
  font-size: 12px;
  left: 0;
  line-height: 30px;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -1;
  width: 100%;
  -webkit-box-shadow: 0 5px 20px rgba(30,29,24,0.25);
  box-shadow: 0 5px 20px rgba(30,29,24,0.25);
}

.datepicker-container::before,
.datepicker-container::after {
  border: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.datepicker-dropdown {
  -webkit-box-shadow: 0 5px 20px rgba(30,29,24,0.25);
  box-shadow: 0 5px 20px rgba(30,29,24,0.25);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
}

.datepicker-inline {
  position: static;
}

.datepicker-top-left,
.datepicker-top-right,
.datepicker-container {
  border-top: 1px solid #201a1a;
}

.datepicker-top-left::before,
.datepicker-top-left::after,
.datepicker-top-right::before,
.datepicker-top-right::after,
.datepicker-container:before,
.datepicker-container:after {
  border-top: 0;
  left: 10px;
  top: -5px;
}

.datepicker-top-left::before,
.datepicker-top-right::before,
.datepicker-container:before {
  border-bottom-color: #201a1a;
}

.datepicker-top-left::after,
.datepicker-top-right::after,
.datepicker-container:after {
  border-bottom-color: #fff;
  top: -4px;
}

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f;
}

.datepicker-bottom-left::before,
.datepicker-bottom-left::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  border-bottom: 0;
  bottom: -5px;
  left: 10px;
}

.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: #39f;
}

.datepicker-bottom-left::after,
.datepicker-bottom-right::after {
  border-top-color: #fff;
  bottom: -4px;
}

.datepicker-top-right::before,
.datepicker-top-right::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  left: auto;
  right: 10px;
}

.datepicker-panel > ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.datepicker-panel > ul::before,
.datepicker-panel > ul::after {
  content: " ";
  display: table;
}

.datepicker-panel > ul::after {
  clear: both;
}

.datepicker-panel > ul > li {
  background-color: #fff;
  cursor: pointer;
  float: left;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 14.28571428571429%;
}

.datepicker-panel > ul > li:hover {
  background-color: rgba(32,26,26,0.2);
}

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #fff;
  pointer-events: none;
}

.datepicker-panel > ul > li.highlighted,
.datepicker-panel > ul > li.highlighted:hover {
  background-color: #201a1a;
  color: #fff;
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: ;
}

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  background-color: #fff;
  color: #ccc;
  cursor: default;
}

.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: #e5f2ff;
}

.datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"],
.datepicker-panel > ul > li[data-view="month prev"],
.datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"],
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="next"] {
  font-size: 18px;
}

.datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="month current"] {
  width: 71.42857142857143%;
}

.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="months"] > li {
  height: 52.5px;
  line-height: 52.5px;
  width: 33.33333333333333%;
}

.datepicker-panel > ul[data-view="week"] > li,
.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: #fff;
  cursor: default;
}

.datepicker-hide {
  display: none;
}

.calendar {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
}

.calendar.active {
  display: block;
}

.form {
  padding-top: 50px;
}

.form__row {
  padding-top: 36px;
  display: flex;
}

.form__item {
  flex: 1;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.form__item:first-child {
  margin-left: 0;
}

.label {
  display: inline-block;
  color: #c1b795;
  cursor: pointer;
  font-size: 22px;
  line-height: 1;
  padding-bottom: 12px;
}

.fields {
  display: block;
  width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #060505;
  border: 2px solid #8c826b;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 0 15px;
  -webkit-transition: color 0.1s linear, border 0.1s linear;
  -moz-transition: color 0.1s linear, border 0.1s linear;
  -o-transition: color 0.1s linear, border 0.1s linear;
  -ms-transition: color 0.1s linear, border 0.1s linear;
  transition: color 0.1s linear, border 0.1s linear;
  font-size: 24px;
  font-style: italic;
  text-transform: capitalize;
}

.fields:focus {
  border-color: #c1b795;
}

.fields.error {
  border-color: #f00;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group--left {
  justify-content: flex-start;
}

.button-group--left .button {
  margin-left: 20px;
}

.button-group--left .button:first-child {
  margin-left: 0;
}

.button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #c1b795;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 60px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.1s linear, color 0.1s linear;
  -moz-transition: background 0.1s linear, color 0.1s linear;
  -o-transition: background 0.1s linear, color 0.1s linear;
  -ms-transition: background 0.1s linear, color 0.1s linear;
  transition: background 0.1s linear, color 0.1s linear;
}

.button--full {
  display: block;
  width: 100%;
}

.button--border {
  border: 2px solid #c1b795;
  line-height: 56px;
}

.button--border:hover {
  color: #cac2a5;
  border-color: #cac2a5;
}

.button--bg {
  color: #110d0d;
  background: #c1b795;
}

.button--bg:hover {
  background: #cac2a5;
}

.button--240 {
  width: 240px;
}

.button--280 {
  width: 280px;
}

.button--310 {
  width: 310px;
}

.search {
  margin-left: 270px;
  position: relative;
}

.search:before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("/frontend/assets/image/i-search.png") no-repeat;
  margin: auto;
  position: absolute;
  top: 0;
  left: 19px;
  bottom: 0;
}

.search .fields {
  padding-left: 55px;
  background: none;
  line-height: 60px;
  cursor: pointer;
}

.search__new {
  position: absolute;
  top: 0;
  left: -270px;
}

.search__specify {
  position: absolute;
  top: 0;
  right: 19px;
}

.search-result {
  margin: auto;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1440px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.search-result .simplebar-vertical {
  margin-bottom: 60px;
}

.keyboard {
  background: #2d2b34;
  margin-top: 105px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid #000;
  border-bottom: none;
}

.keyboard__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -4px;
}

.keyboard__button {
  width: 116px;
  height: 77px;
  color: #fff;
  border: 4px solid #000;
  border-top: none;
  border-left: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s linear, opacity 0.1s linear;
  -moz-transition: background 0.1s linear, opacity 0.1s linear;
  -o-transition: background 0.1s linear, opacity 0.1s linear;
  -ms-transition: background 0.1s linear, opacity 0.1s linear;
  transition: background 0.1s linear, opacity 0.1s linear;
  font-size: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keyboard__button--left {
  border-left: 4px solid #000;
}

.keyboard__button--234 {
  width: 234px;
}

.keyboard__button--space {
  width: 1194px;
}

.keyboard__button--234,
.keyboard__button--space {
  border-top: 4px solid #000;
  margin-top: -4px;
}

.keyboard__button:active {
  background: #4a4756;
}

.keyboard__button.disabled {
  -webkit-transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background: #4a4756;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  pointer-events: none;
}

.i-back {
  width: 33px;
  height: 35px;
  background: url("/frontend/assets/image/i-back.png") no-repeat;
  display: block;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 115px;
}

.list.none-padding {
  padding-top: 0;
}

.list__item {
  cursor: pointer;
  width: 300px;
  height: 485px;
  background: #313131;
  margin-left: 50px;
  margin-top: 50px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
  -moz-transition: opacity 0.7s, -moz-transform 0.7s;
  -o-transition: opacity 0.7s, -o-transform 0.7s;
  -ms-transition: opacity 0.7s, -ms-transform 0.7s;
  transition: opacity 0.7s, transform 0.7s;
}

.list__item:nth-child(4n+1) {
  margin-left: 0;
}

.list__item:nth-child(1),
.list__item:nth-child(2),
.list__item:nth-child(3),
.list__item:nth-child(4) {
  margin-top: 0;
}

.list__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 55px 80px rgba(0,0,0,0.7);
  box-shadow: 0 55px 80px rgba(0,0,0,0.7);
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.list__content:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list__content-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 90px;
  background-color: #c1b795;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.list__content-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

.list__content-txt span {
  font-size: 26px;
  display: block;
  margin-bottom: 6px;
}

.card {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.card__left {
  width: 540px;
}

.card__left-list {
  width: 110px;
  float: left;
}

.card__left-list-item {
  width: 80px;
  height: 110px;
  background-color: #c1b795;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  cursor: pointer;
  margin-top: 7px;
  position: relative;
}

.card__left-list-item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: border 0.2 linear;
  -moz-transition: border 0.2 linear;
  -o-transition: border 0.2 linear;
  -ms-transition: border 0.2 linear;
  transition: border 0.2 linear;
}

.card__left-list-item.active:before {
  border: 5px solid #c1b795;
}

.card__left-list-item:first-child {
  margin-top: 0;
}

.card__left-content {
  overflow: hidden;
}

.card__right {
  width: 750px;
}

.card__right-name {
  color: #fff;
  font: 40px/1 "Merri", serif;
  margin-top: -2px;
}

.card__right-name span {
  display: block;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 15px;
}

.card__right-content {
  height: 590px;
  color: #fff;
  margin-top: 46px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 100px;
}

.card__right-list-item {
  margin-top: 31px;
}

.card__right-list-item:first-child {
  margin-top: 0;
}

.card__right-list-title {
  font: italic normal 16px/1.5 "Merri", serif;
  color: #c1b795;
  padding-bottom: 4px;
}

.card__right-list-txt {
  font: italic normal 24px/1.5 "Merri", serif;
}

.card__photo {
  height: 578px;
  background-color: #c1b795;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.qcode {
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 44px;
}

.qcode__sticker {
  width: 123px;
  height: 123px;
  background: #fff;
  margin-right: 25px;
  position: relative;
}

.qcode__sticker img {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.qcode__name {
  font: 18px/1.4 "Merri", serif;
}

.qcode__link {
  display: inline-block;
  color: #8c826b;
  text-decoration: none;
  font: 16px/1.3 "Merri", serif;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -ms-transition: color 0.1s linear;
  transition: color 0.1s linear;
  margin-top: 5px;
}

.qcode__link:hover {
  color: #c1b795;
}