// == font
//
// Вспомогательные макросы для работы со шрифтами.
//
// === use-font-face()
//
// Определяет загружаемый шрифт. Путь к загружаемым шрифтам задается значением
// переменной `font-path`.
//
// -----------------------------------------------------------------------------
font-path ?= '/frontend/assets/fnt'
// -----------------------------------------------------------------------------
//
// Модуль также определяет стандартный контейнер для определения шрифтовых
// стеков:
//
// -----------------------------------------------------------------------------
fonts ?= {}
// -----------------------------------------------------------------------------
//
// Рекомендуется определять все шрифтовые стеки в виде элементов этого хеша в
// конфигурации приложения:
//
// -----------------------------------------------------------------------------
//
// fonts.serif = PT Serif, serif                                   // <1>
//
// .test
//   font-family: fonts.serif                                      // <2>
//
// -----------------------------------------------------------------------------
//
// <1> в конфигурации приложения
// <2> в стилях приложения
//
// === use-font-face()
//
// Определяет загружаемый шрифт. Пример использования:
//
// -----------------------------------------------------------------------------
// use-font-face('Bitstream Vera Serif Bold', 'VeraSeBd.%s')              <1>
// -----------------------------------------------------------------------------
//
// Загружаемый шрифт определяется его именем `name` (соответствует свойству
// `font-family` и шаблоном имени файла `filename`. Если шаблон начинается со
// строки `http://` или с символа `/`, значение переменной `font-path` не
// используется. В противном случае значение этой переменой прибавляется к началу
// шаблона имени файла.
//
// Шаблон имени файла должен содержать последовательность `%s`, вместо которой
// подставляется расширение файла.
//
// При определении шрифта необходимо также указать значения параметров
// `font-style` и `font-weight`.
//
// -----------------------------------------------------------------------------
use-font-face(font-family, font-file, font-style = normal, font-weight = 400)
  filename = font-path + "/" + font-file unless match("^(http://|/)", font-file)
  woff = (filename % unquote("woff"))
  woff2 = (filename % unquote("woff2"))
  @font-face
    font-family: font-family
    src: local("☺︎"),
      url(woff) format("woff"),
      url(woff2) format("woff2")
    font-style:  font-style
    font-weight: font-weight
// -----------------------------------------------------------------------------
//
font-stack()
  r = unquote('')
  for n,i in arguments
    if i == 0
      r = n
    else
      r = r,n
  return r
