+media(any)

  .card
    display: flex
    justify-content: space-between
    padding-top: 60px
    &__left
      width: 540px
      &-list
        width: 110px
        float: left
        &-item
          width: 80px
          height: 110px
          background-color: colors.bg
          background-repeat: no-repeat
          background-position: center
          background-size: cover
          cursor: pointer
          margin-top: 7px
          position: relative
          &:before
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            transition: border .2 linear
          &.active
            &:before
              border: 5px solid colors.bg
          &:first-child
            margin-top: 0
      &-content
        overflow: hidden
    &__right
      width: 750px
      &-name
        color: colors.white
        font: 40px/1 fonts.merri
        margin-top: -2px
        span
          display: block
          font-size: 50px
          font-weight: bold
          padding-bottom: 15px
      &-content
        height: 590px
        color: colors.white
        margin-top: 46px
        box-sizing: border-box
        padding-right: 100px
      &-list
        &-item
          margin-top: 31px
          &:first-child
            margin-top: 0
        &-title
          font: italic normal 16px/1.5 fonts.merri
          color: colors.bg
          padding-bottom: 4px
        &-txt
          font: italic normal 24px/1.5 fonts.merri
    &__photo
      height: 578px
      background-color: colors.bg
      background-repeat: no-repeat
      background-position: center top
      background-size: cover