+media(any)

  .form
    padding-top: 50px
    &__row
      padding-top: 36px
      display: flex
    &__item
      flex: 1
      margin-left: 30px
      display: flex
      flex-direction: column
      justify-content: flex-end
      position: relative
      &:first-child
        margin-left: 0

  .label
    display: inline-block
    color: colors.bg
    cursor: pointer
    font-size: 22px
    line-height: 1
    padding-bottom: 12px

  .fields
    display: block
    width: 100%
    height: 60px
    box-sizing: border-box
    appearance: none
    background: #060505
    border: 2px solid colors.bg-dark
    border-radius: 5px
    color: colors.white
    padding: 0 15px
    transition: color .1s linear, border .1s linear
    font-size: 24px
    font-style: italic
    text-transform: capitalize
    &:focus
      border-color: colors.bg
    &.error
      border-color: red

  .button-group
    display: flex
    justify-content: space-between
    &--left
      justify-content: flex-start
      .button
        margin-left: 20px
        &:first-child
          margin-left: 0

  .button
    display: inline-block
    appearance: none
    border: none
    background: none
    color: colors.bg
    height: 60px
    box-sizing: border-box
    font-size: 22px
    line-height: 60px
    font-weight: bold
    text-decoration: none
    text-align: center
    border-radius: 5px
    transition: background .1s linear, color .1s linear
    &--full
      display: block
      width: 100%
    &--border
      border: 2px solid colors.bg
      line-height: 56px
      &:hover
        color: lighten(colors.bg, 15%)
        border-color: lighten(colors.bg, 15%)
    &--bg
      color: #110d0d
      background: colors.bg
      &:hover
        background: lighten(colors.bg, 15%)
    &--240
      width: 240px
    &--280
      width: 280px
    &--310
      width: 310px

  .search
    margin-left: 270px
    position: relative
    &:before
      content: ""
      width: 17px
      height: 17px
      background: url(paths i-search.png) no-repeat
      margin: auto
      position: absolute
      top: 0
      left: 19px
      bottom: 0
    .fields
      padding-left: 55px
      background: none
      line-height: 60px
      cursor: pointer
    &__new
      position: absolute
      top: 0
      left: -270px
    &__specify
      position: absolute
      top: 0
      right: 19px

  .search-result
    margin: auto
    position: absolute
    top: 180px
    left: 0
    right: 0
    bottom: 0
    width: 1440px
    box-sizing: border-box
    padding-bottom: 60px
    .simplebar-vertical
      margin-bottom: 60px