+media(any)

  .keyboard
    background: #2D2B34
    margin-top: 105px
    box-sizing: border-box
    border: 4px solid #000
    border-bottom: none
    &__row
      display: flex
      flex-wrap: wrap
      justify-content: center
      margin: 0 -4px
    &__button
      width: 116px
      height: 77px
      color: colors.white
      border: 4px solid #000
      border-top: none
      border-left: none
      text-align: center
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      transition: background .1s linear, opacity .1s linear
      font-size: 26px
      user-select: none
      &--left
        border-left: 4px solid #000
      &--234
        width: 234px
      &--space
        width: 1194px
      &--234, &--space
        border-top: 4px solid #000
        margin-top: -4px
      &:active
        background: lighten(#2D2B34, 15%)
      &.disabled
        transition: background .3s ease-in-out, opacity .3s ease-in-out
        background: lighten(#2D2B34, 15%)
        opacity: .2
        pointer-events: none

  .i-back
    width: 33px
    height: 35px
    background: url(paths i-back.png) no-repeat
    display: block