+media(any)

  .list
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding-top: 115px
    &.none-padding
      padding-top: 0
    &__item
      cursor: pointer
      width: 300px
      height: 485px
      background: #313131
      margin-left: 50px
      margin-top: 50px
      opacity: 0
      transform: translateY(100px)
      transition: opacity .7s, transform .7s
      &:nth-child(4n+1)
        margin-left: 0
      &:nth-child(1)
      &:nth-child(2)
      &:nth-child(3)
      &:nth-child(4)
        margin-top: 0
    &__content
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      box-shadow: 0 55px 80px rgba(0,0,0,.7)
      transition: box-shadow .2s
      &:hover
        box-shadow: none
      &-photo
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin-bottom: 90px
        background-color: colors.bg
        background-repeat: no-repeat
        background-position: center
        background-size: cover
      &-txt
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 90px
        text-align: center
        color: colors.white
        display: flex
        flex-direction: column
        justify-content: center
        font-size: 18px
        line-height: 1
        font-weight: bold
        span
          font-size: 26px
          display: block
          margin-bottom: 6px