#nprogress
  pointer-events: none
  .bar
    background: colors.bg
    position: fixed
    z-index: 1031
    top: 0
    left: 0
    width: 100%
    height: 2px
  .peg
    display: block
    position: absolute
    right: 0px
    width: 100px
    height: 100%
    box-shadow: 0 0 10px colors.bg, 0 0 5px colors.bg
    opacity: 1.0
    transform: rotate(3deg) translate(0px, -4px)
  .spinner
    display: block
    position: fixed
    z-index: 1031
    top: 0
    right: 0
    bottom: 0
    left: 0
  .spinner-icon
    width: 40px
    height: 40px
    box-sizing: border-box
    border: solid 2px transparent
    border-top-color: colors.bg
    border-left-color: colors.bg
    border-radius: 50%
    animation: nprogress-spinner 400ms linear infinite
    margin: auto
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.nprogress-custom-parent
  overflow: hidden
  position: relative

.nprogress-custom-parent #nprogress .spinner
.nprogress-custom-parent #nprogress .bar
  position: absolute

@keyframes nprogress-spinner
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)