+media(any)

  *
    outline: none

  body
    text-style: text.sans-body
    background: colors.default url(paths bg.jpg) fixed no-repeat center / cover

  a
    color: colors.link
    &:hover
      text-decoration: none

  body, html
    height: 100%
    min-width: 320px
    overflow: hidden

  #js-async-box
    min-height: 100%
    background: colors.default

  .container
    width: 1440px
    padding: 0 20px
    centered: true

  .title
    color: colors.bg
    padding-top: 91px
    font: 36px/1.3 fonts.merri
    &--center
      text-align: center

  .section
    min-height: 100%

  #one
    transition: opacity .7s
    &.active
      opacity: 0

  #two
    padding-top: 60px
    box-sizing: border-box
    opacity: 0
    transition: opacity .7s, transform .7s
    position: relative
    &.active
      opacity: 1
      .list__item
        transform: translateY(0)
        opacity: 1
        &:nth-child(1)
          transition-delay: .2s
        &:nth-child(2)
          transition-delay: .3s
        &:nth-child(3)
          transition-delay: .4s
        &:nth-child(4)
          transition-delay: .5s
        &:nth-child(5)
          transition-delay: .6s
        &:nth-child(6)
          transition-delay: .7s
        &:nth-child(7)
          transition-delay: .8s
        &:nth-child(8)
          transition-delay: .9s
    &.hide
      opacity: 0
      transform: scale(.9)
      transition: opacity .3s, transform .3s

  #three
    padding-top: 60px
    box-sizing: border-box
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 2
    opacity: 0
    pointer-events: none
    transform: scale(1.1)
    transition: opacity .3s, transform .3s
    &.active
      opacity: 1
      pointer-events: auto
      transform: scale(1)