+media(any)

  .qcode
    color: colors.white
    display: flex
    align-items: center
    padding-top: 44px
    &__sticker
      width: 123px
      height: 123px
      background: colors.white
      margin-right: 25px
      position: relative
      img
        display: block
        margin: auto
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
    &__name
      font: 18px/1.4 fonts.merri
    &__link
      display: inline-block
      color: colors.bg-dark
      text-decoration: none
      font: 16px/1.3 fonts.merri
      transition: color .1s linear
      margin-top: 5px
      &:hover
        color: colors.bg