//Размеры
sizes.vertical-step = 9px  // вертикальный ритм

//Палитра
colors.default = #201A1A   // Оранжевый
colors.white   = #fff      // Белый
colors.text    = #000      // Черный
colors.link    = #486bbb   // Синий
colors.grid    = #000      // Черный
colors.shadow  = #1e1d18
colors.bg      = #c1b795
colors.bg-dark = #8C826B
colors.border  = #D2CFC6

// Путь
paths = "/frontend/assets/image/"

// Шрифтовые стили
fonts.merri     = font-stack("Merri", serif)
fonts.open-sans = font-stack("Open Sans", sans-serif)

text.sans-body = {
  font-family: fonts.open-sans,
  font-size: 14px,
  line-height: 17px
}

// Merri
webfonts.merri-regular = {
  font-family: "Merri",
  font-file: "merri/regular.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.merri-italic = {
  font-family: "Merri",
  font-file: "merri/italic.%s",
  font-style: italic,
  font-weight: normal
}

// Open Sans
webfonts.open-sans-regular = {
  font-family: "Open Sans",
  font-file: "openSans/regular.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.open-sans-italic = {
  font-family: "Open Sans",
  font-file: "openSans/italic.%s",
  font-style: italic,
  font-weight: normal
}

webfonts.open-sans-semibold = {
  font-family: "Open Sans",
  font-file: "openSans/semibold.%s",
  font-style: normal,
  font-weight: 600
}